NODE_ENV=development
PORT=3002
LOG_LEVEL=debug
CENTRAL_LOG_TOKEN=your-central-log-token
DATABASE_URL=your-database-url
JWT_ISSUER=your-jwt-issuer-url
JWT_AUDIENCE=your-jwt-audience-url
TOKEN_SECRET=your-token-secret
TOKEN_EXPIRES_IN=7d